.bobot-container{

    display:grid;

    grid-template-columns:
    repeat(
        auto-fit,
        minmax(
            180px,
            1fr
        )
    );

    gap:15px;

    margin-bottom:25px;

}

.bobot-card{

    background:white;

    padding:20px;

    border-radius:12px;

    text-align:center;

    box-shadow:
    0 2px 10px rgba(0,0,0,0.08);

}

.bobot-card h3{

    color:#145A32;

    margin-bottom:10px;

}

.bobot-card span{

    font-size:24px;

    font-weight:bold;

}

.main-table input{

    width:70px;

    padding:6px;

    text-align:center;

}